@use 'variaveis' as *;

.confirmacao{
    padding: 80px 20px;
    background:$gradiente-inverso;
    text-align: center;

    .container{
        max-width: 960px;
        margin: 0 auto;
    }

    &__titulo{
        font-size: 2.5rem;
        color: $rosa-escuro;
        margin-bottom: 24px;
    }

    &__descricao{
        font-size: 1.2rem;
        color: $azul-escuro;
        margin-bottom: 40px;
        line-height: 1.6;
    }

    &__lista{
        padding: 0;
        font-size: 1.1rem;
        color: $rosa-claro;
        max-width: 360px;  
        margin: 0 auto;
        
        li{
            background-color: rgba(255, 255, 255, 0.473);
            border-radius: 8px;
            padding: 12px 16px;
            box-shadow: $shadow-padrao;
            &:last-child{
                margin-bottom: 30px;
            }
        }
    }
    &__botao{
        background-color: $rosa-escuro;
        color: $azul-claro;
        border: 1px solid $cinza-escuro;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition:  0.9s ease;
        cursor: pointer;
        margin-left: 8px;

        &:hover{
            background-color: $rosa-claro;
            color: $azul-escuro;
        }
    }
}