@use 'variaveis' as *;

.duvidas{
    background: $gradiente-principal;
    padding: 80px 20px;
    text-align: center;

    .contaner{
        max-width: 700px;
        margin: 0 auto;
    }

    &__titulo{
        font-size: 2.2rem;
        color: $rosa-escuro;
        margin-bottom: 16px;
    }

    &__texto{
        font-size: 1.2rem;
        color: $azul-escuro;
        margin-bottom: 32px;
        line-height: 1.6;
    }

    &__botao{
        background-color: $rosa-escuro;
        color: $azul-claro;
        border: 1px solid $cinza-escuro;
        padding: 12px 24px;
        border-radius: 8px;
        text-decoration: none;
        font-weight: bold;
        transition:  0.9s ease;
        cursor: pointer;

        &:hover{
            background-color: $rosa-claro;
            color: $azul-escuro;
        }
    }
}