@use 'variaveis' as *;

.hero{
    height: 100vh;
        background-image:
        url(../img/hero.jpeg),
        linear-gradient(to bottom,$rosa-claro 10%,  $rosa-claro 40%, $azul-claro 70%, $azul-claro 90%);
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover !important; 
        background-position: center, center;
        background-blend-mode: normal, multiply;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        background-color: rgba(255, 255, 255, 0.377);
        padding: 40px;
        border-radius: 15px;
        max-width: 90%;

        .contador{
            background-color: rgba(255, 255, 255, 0);

            &__titulo{
                font-size: 1.9rem;
                color: $preto;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            &__msg{
                font-size: 1.7rem;
                color: $preto;
            }
        }
    }
    .titulo{
        font-size: 3em;
        color: $rosa-escuro;
    }
}