@use 'variaveis' as *;

.localizacao{
    padding: 80px 20px;
    background: $gradiente-principal;
    text-align: center;

    .container{
        max-width: 960px;
        margin: 0 auto;
    }

    &__titulo{
        font-size: 2.5rem;
        color: $rosa-escuro;
        margin-bottom: 24px;
    }

    &__descricao,
    &__endereco{
        font-size: 1.2rem;
        color:$azul-escuro;
        margin-bottom: 40px;
        line-height: 1.6;
    }

    &__mapa{
        border-radius: 12px;
        overflow: hidden;
        box-shadow:$shadow-padrao;
    }
}