@use 'variaveis' as *;

.presente {
    padding: 4rem 2rem;
    text-align: center;
    background: $gradiente-inverso;

    &__container{
        max-width: 800px;
        margin: 0 auto;
    }

    &__title{
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $rosa-escuro;
    }

    &__text{
        font-size: 1rem;
        margin-bottom: 2rem;
        color: $azul-escuro;
    }
}