@media (max-width: 768px) {
.duvidas {
    .contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    }

        &__botao {
        display: block;
        width: 100%;
        padding: 16px;
        font-size: 1rem;
        margin-bottom: 12px;
        }
    }
    .confirmacao{
        &__botao{
            display: block;
            width: 100%;
            padding: 16px;
            font-size: 1rem;
            margin-bottom: 12px;
        }
    }
}