@use 'hero';
@use 'localizacao';
@use 'confirmacao';
@use 'duvidas';
@use 'variaveis' as *;
@use 'responsivo';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.rodape{
    background-color: $rosa-claro;
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    color: $cinza-escuro;
    font-style: italic;
}

@media (max-width: 1023px){
    .rodape{
        font-size: 0.95rem;
        padding: 18px;
    }
}

@media(max-width:620px){
    .rodape{
        font-size: 0.9rem;
        padding: 16px;
    }
}